#content {
    padding: 1em 2em 1em 2em;
}

	p {
		font-size: 1em;
	}

	#content nav {
		margin:0;
	}

	header h1{
		font-size: 1.1em;
	}

	footer {
		padding: 2em 0 6em 0;
	}

	article > p, section > p {
		text-align: left;
		line-height: 1.5em;
	}

	#bio {
		display: block;
	}
	.wrapper {
		display:block;
		padding: 0 0 0 0;
	}
	.inner {
		margin: auto;
		display: block;
	}
    aside {
        margin: 1em 0.5em 1em 0.5em;
    }

    #presentation {
        padding: 1em;
    }
