header {
    text-align: center;
}
nav > ul li {
    display: block
}

footer {
    display: block;
}

footer > section {
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 1.1em;
    font-weight: normal;
}

footer li {
    padding: 0.4em;
}

main {
    padding: 1.5em;
}

h3, dt, dd {
    padding: 0 0 1em 0;
}

section, article {
    padding: 0.5em;
}

.column {
    width: 100%;
    margin: 0;
    margin: auto;
}

.column-content-aside {
    width: 100%;
}

main section p, main article p {
    padding: 0.5em;
}

div .flex-container, .gallery ul {
    margin: 0;
    max-width: 100%;
}

div .flex-container, .gallery li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.text-right, .text-left{
    display: block;
}

.logo {
    margin: auto;
    background-image: url(../images/logo-no-bg-low-res-small.png);
}

.index-widescreen {
    background-image: url(../images/widescreen-small-min.jpg);
}

.login-form {
    max-width: 100%;
}

.insert-form {
    max-width: 100%;
}

.flex-container {
    display: block;
}

.flex-article {
    width: auto;
}

.markdown-code{
    width: 100%;
}
#floating-btn {
    z-index: 5;
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: #484848;
    display:flex;
    align-items: center;
	-webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.38);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.38);
}

#floating-btn a {
    color: white;
    text-decoration:none;
    margin: 0 auto;    
}
