/*COLORI
Nero: #101010
Grigio Scuro: #303030
Grigio: #aeaeae
Grigio Chiaro: #eaeaea
Bianco: #f9f9f9
*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-display: swap
}

header {
    padding: 1em 2em 0.2em 2em;
}

ul {
    list-style-type: none;
}

a{
    color: #303030;
}

header a {
    text-decoration:none;
    padding : 0.2em;
}

header a:hover {
    background-color: #303030;
    color: #f9f9f9;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

a:active {
    border: 2px #101010 solid;
    border-radius: 3px;
}

header a:visited:hover, header a:hover {
    color: #f9f9f9;
}

a:visited, nav a:visited {
    color:#609;
}

nav > ul li{
    display: inline;
    padding: 0.4em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: normal;
}

form > ul li {
    display: block;
}
form label {
    display: block;
}

header img {
    width: 8em;
}

main {
    min-height: 500px;
    padding: 1em 2em 1em 2em;
}

main h1{
    font-size: 2.3em;
    padding-bottom: 0.5em;
}

main h2 {
    font-size: 1.8em;
    padding-bottom: 0.5em;
}

main h3 {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

dt {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0 0.5em 1em;
}

dd {
    font-size: 1em;
    padding: 0 0 0.5em 2em;
}

section, article {
    padding: 1em 2em 1em 2em;
}

p {
    font-size: 1em;
}

.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.column {
    width: 30%;
    margin: 0 auto auto auto;
}

.column-content-aside {
    width: 70%;
    margin: 0 ;
}

.btn-container {
    position: inherit;
    bottom: 10px;
    margin-top: 1em;
    text-align: center;
}
iframe {
    width: 100%;
}

.rectangle-image-cropper {
    width: 100%;
    height: 10em;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.rectangle-image-cropper-large {
    width: 100%;
    max-height: 10em;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.rectangle-image-cropper img, .rectangle-image-cropper-large img {
    display: inline;
    margin: auto auto;
    height: auto;
    width: 100%;
}

.circle-image-cropper {
    width: 12em;
    height: 12em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.circle-image-cropper img{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.square-image-cropper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.square-image-cropper img{
    display: inline;
    margin: auto;
    height: 100%;
    width: auto;
}

.centered {
    margin: auto;
}

main section p{
    padding: 0.5em 2em 0em 2em;
}

input[type=text], input[type=email], input[type=password], textarea{
    width: 100%;
    padding: 0.5em;
    margin: auto;
    border: thin solid #aeaeae;
    border-radius: 3px;
    box-sizing: border-box;
}


.error {
	color: red;
}


input[type=button].add {
	background-color: #6D9fa0;
}

input[type=button].remove {
	background-color: #d01110;
}

/*input[type=file], */
input[type=submit], input[type=button], .button {
    color: #f9f9f9;
    background-color: #303030;
    border: thin solid #aeaeae;
    border-radius: 3px;
    min-width: 56px;
    width: 20%;
    padding: 0.5em;
    margin: auto;
    text-transform: uppercase;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #303030;
    color: #f9f9f9;
    text-align: right;
    font-size: 1em;
    padding: 1em 2em 1em 2em;
    text-align: center;
}

footer > section {
    grid-column-start: 3;
    grid-column-end: 3;
    text-align: left;
}

footer > small {
    grid-column-start: 2;
}

footer a {
    font-size: 1em;
    text-decoration: underline;
    color: #f9f9f9;
}

footer a:hover {
    font-weight: bold;
    color: #ffffff;
}

footer a:visited, a:visited.button  {
    color: #cfcfcf;
}

footer h2 {
    font-size: 1.2em;
    font-weight: normal;
    text-transform: uppercase;
}

div .flex-container, .gallery ul {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 80%;
}

.gallery li {
    width: 15em;
    height: 15em;
    margin: 0.5em auto 0.5em auto;
}

.gallery li img{
    height: 100%;
    border-radius: 3px;
}

.gallery li::after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 5px 60em rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 60em rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 2000px rgba(0,0,0,0.75);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.gallery li:hover {
  -webkit-transform: scale(2);
  transform: scale(2);
  z-index: 10;
}

.gallery li:hover::after {
    opacity: 1;
}

.text-right {
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
}

.text-left {
    display: inline-grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
}

fieldset {
    border: none;
}
label, legend {
    font-weight: bold;
}
.floating-btn {
    z-index: 5;
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: #484848;
    text-align: center;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.38);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.38);
}

.material-icons.fab {
    color: #ffffff;
    margin-top: 0.5em
}

@media (prefers-reduced-motion) {
    .gallery li::after {
        -webkit-transition: 0s;
        transition:0s;
    }

    header a:hover {
        transition: 0s;
    }
}

.logo {
    text-indent: -99999px;
    width: 7.3em;
    height: 3.5em;
    background-image: url(../images/logo-no-bg-low-res.png);
    background-repeat: no-repeat;
    background-size: 7.3em 3.5em;
    padding-bottom: 0.2em;
}


.index-widescreen {
    width: 100%;
    height: 10em;
    background-image: url(../images/widescreen-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7
}

.laboratorio {
    text-indent: -99999px;
    width: 100%;
    height: 10em;
    background-image: url(../images/lab-low-res.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-form {
    max-width: 20%;
}

.insert-form {
    max-width: 60%;
}

pre.markdown-code{
    margin: 1em;
    padding-top: 1em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.load-more {
    margin: 1.5em 0em 0.5em 0em;
    text-align: center;
}

.flex-article {
    position: relative;
    flex-wrap: wrap;
    width: 30%;
    height: 15em;
    padding: 1em;
    margin: 1em auto 1em auto;
    border: 1px solid #CACACA;
    border-radius: 3px;
    -webkit-box-shadow: 13px 10px 35px -22px rgba(0,0,0,0.3);
    box-shadow: 13px 10px 35px -22px rgba(0,0,0,0.3);
    z-index: 2;
}

.flex-article p {
    max-height: 5em;
    overflow: hidden;
}

.flex-article .btn-container{
    position: absolute;
    bottom: 2em;
    left: 40%;
    text-align: center;
}
