/*COLORI
Nero: #101010
Grigio Scuro: #303030
Grigio: #aeaeae
Grigio Chiaro: #eaeaea
Bianco: #f9f9f9
*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    padding: 1em 2em 0.5em 2em;
}

ul {
    list-style-type: none;
}

a{
    color: #303030;
}

header a {
    text-decoration:none;
    border-bottom: thin #aeaeae solid;
}

a:hover {
    font-weight: bold;
}

a:active {
    border: 2px #101010 solid;
    border-radius: 3px;
}

a:visited {
    color: #8a8a8a;
}

nav > ul li{
    display: inline;
    padding: 0.4em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: normal;
}

form > ul li {
    display: block;
}

header img {
    width: 8em;
}

main {
    min-height: 500px;
    padding: 1em 2em 1em 4em;
}

main h1{
    font-size: 2.3em;
    padding-bottom: 0.5em;
}

main h2 {
    font-size: 1.8em;
    padding-bottom: 0.5em;
}

main h3 {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

dt {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0 0.5em 1em;
}

dd {
    font-size: 1em;
    padding: 0 0 0.5em 2em;
}

section, article {
    padding: 1em 2em 1em 2em;
}

p {
    font-size: 1em;
}

.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    width: 30%;
    margin: 0 auto auto auto;
}

.column-content-aside {
    width: 70%;
    margin: 0 ;
}

.btn-container {
    margin-top: 1em;
    text-align: center;
}
iframe {
    width: 100%;
}

.rectangle-image-cropper {
    width: 18em;
    height: 10em;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.rectangle-image-cropper img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.circle-image-cropper {
    width: 12em;
    height: 12em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.circle-image-cropper img{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.square-image-cropper {
    width: 12em;
    height: 12em;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
.square-image-cropper img{
    display: inline;
    margin: auto;
    height: 100%;
    width: auto;
}

.centered {
    margin: auto;
}

main section p, main article p{
    padding: 0.5em 2em 0em 2em;
}

input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 0.5em;
    margin: auto;
    border: thin solid #aeaeae;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 0.5em;
    margin: auto;
    border: thin solid #aeaeae;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type=text].errored, input[type=email].errored, textarea.errored{
    border: 2px solid red;
}

input[type=submit], .button {
    color: #f9f9f9;
    background-color: #303030;
    border: thin solid #aeaeae;
    border-radius: 3px;
    min-width: 50px;
    width: 20%;
    padding: 0.5em;
    margin: auto;
    text-transform: uppercase;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #303030;
    color: #f9f9f9;
    text-align: right;
    font-size: 1em;
    padding: 1em 2em 1em 2em;
    text-align: center;
}

footer > section {
    grid-column-start: 3;
    grid-column-end: 3;
    text-align: left;
}

footer > small {
    grid-column-start: 2;
}

footer a {
    font-size: 1em;
    text-decoration: underline;
    text-decoration-style: dotted;
    color: #f9f9f9;
}

footer a:hover {
    font-weight: bold;
    color: #ffffff;
}

footer a:visited, a:visited.button  {
    color: #cfcfcf;
}

footer h2 {
    font-size: 1.2em;
    font-weight: normal;
    text-transform: uppercase;
}

.spaced {
    margin: 0.2em;
}

div .flex-container, .gallery li:hover {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    transform:scale(1.2);
    transition:0.2s;
    z-index: 10;
}
